[client]
port=3306

[mysql]
default-character-set=utf8

[mysqld]
#basedir=/mysql/basedir
#datadir=/mysql/datadir
max_connections=200
max_connect_errors=10
character-set-server=utf8

# Enable Binlog
log-bin=/var/lib/mysql/mysql-bin
expire_logs_days=7
server-id=1

# SET WAIT_TIMEOUT
# 必须两者配套使用，否则wait_timeout不会关闭及时
wait_timeout=60
interactive_timeout=60


# Enable SSL
require_secure_transport=ON
ssl-ca=/var/lib/mysql/ca.pem
ssl-cert=/var/lib/mysql/server-cert.pem
ssl-key=/var/lib/mysql/server-key.pem