[client]
port=3306

[mysql]
default-character-set=utf8

[mysqld]
#basedir=/mysql/basedir
#datadir=/mysql/datadir
max_connections=200
max_connect_errors=10
character-set-server=utf8

# Enable Binlog
log-bin=/var/lib/mysql/mysql-bin
expire_logs_days=7
server-id=1

# Enable SSL
require_secure_transport=ON
ssl-ca=/var/lib/mysql/ca.pem
ssl-cert=/var/lib/mysql/server-cert.pem
ssl-key=/var/lib/mysql/server-key.pem